.header {
  display: flex;
  justify-content: space-between;
}

.paths {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  gap: 1rem;
}

.link {
  text-decoration: none;
  color: black;
}

.paths .link {
  font-size: large;
}

.app-name {
  font-family: "Calligraffitti", cursive;
  font-size: larger;
  padding: 0.2rem 0.5rem;
}

.home-page-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.habit-component {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}

.dropdown-main-div {
  display: flex;
  /* gap: 2rem; */
}

.dropdown-main-div-1 {
  gap: 2.4rem;
}

.dropdown-main-div-2 {
  gap: 1rem;
}

.dropdown-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.time_of_day-div select {
  padding-top: 0.075rem;
  padding-bottom: 0.075rem;
}

.save-cancel-div {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 0.5rem;
}

.save-cancel-div button {
  cursor: pointer;
}

.home-page-div button {
  cursor: pointer;
}

h3 {
  cursor: pointer;
}
